    <footer class="bg-gray-800 py-2 w-full text-white">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Meu Blog. Todos os direitos reservados.</p>
        </div>
    </footer>
<script src="/javascripts/script.js"></script>
</body>
</html>