<header class="bg-blue-600 pl-4 h-14 flex text-white items-center w-full">
    <nav class="h-full ">
        <ul class="flex flex-row gap-3 h-full items-center">
            <li><a class="hover:text-black hover:scale-y-110 transition-all duration-500 w-24" href="/">GuiaPress</a></li>

            <li class="px-2 cursor-pointer relative h-full flex items-center" onmouseenter="entrou(event)" onmouseleave="saiu(event)">
                <span class="hover:text-black">Conteúdo</span>

                <div class="absolute filho hidden w-48 top-[48px] rounded-md py-3 border bg-black flex-col text-center gap-3">
                    <div class="group">
                        <p class="blackw">Categorias</p>

                        <div class="w-full absolute top-16 sm:top-0 g sm:left-44 hidden group-hover:flex flex-col bg-black p-2 ring-1 ring-slate-300 rounded-md">
                            <div class="hover:bg-white hover:text-black">
                                <a href="/admin/categories">Ver Categorias</a>
                            </div>

                            <div class="blackw">
                                <a href="/admin/categories/new">Criar nova Categoria</a>
                            </div>
                        </div>
                    </div>

                    <div class="group">
                        <p class="blackw">Artigos</p>

                        <div class="w-full absolute transition-all duration-700 sm:top-11 sm:left-44 top-[76px] hidden group-hover:flex flex-col bg-black p-2 ring-1 ring-slate-300 rounded-md">
                            <div class="blackw">
                                <a href="/admin/articles">Ver artigos</a>
                            </div>
                            <div class="blackw">
                                <a href="/admin/articles/new">Criar novo artigo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
