<!DOCTYPE html>
<html lang="pt-pt" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= headTitle %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/style2.css">
  <script src="https://cdn.tiny.cloud/1/ssfrraviw37cj9z3wax894wog697jdzmxq9dist4pmo51054/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <!-- <link rel="shortcut icon" href="./image/faviconjvc.ico" type="image/x-icon"> -->
  
</head>
<body class=" h-screen w-screen overflow-hidden  flex flex-col bg-white-500 ">