.slide-in-elliptic-top-fwd {
    -webkit-animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-top-fwd 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
        filter: blur(12px) opacity(0);
    }
    100% {
        filter: blur(0.01);
    }
}

.swing-in-top-reverse {
    -webkit-animation: swing-in-top-reverse 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) reverse both;
    animation: swing-in-top-reverse 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) reverse both;
}

@-webkit-keyframes swing-in-top-reverse {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.swing-in-top-reverse {
    animation: swing-in-top-reverse 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes swing-in-top-reverse {
    0% {
        filter: blur(0.01);
    }
    100% {
        filter: blur(12px) opacity(0);
    }
}
.move{
    
}

@keyframes move {
    to {
        position: 1000;
    }
}
